/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&family=Quicksand:wght@300;500;600&family=Roboto:ital,wght@1,100;1,300&family=Source+Sans+Pro&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #0d3e5f91;
  font-family: "Rubik", sans-serif;
  background-image: url(../Images/23.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.258);
  background-blend-mode: color;
}

.login-form {
  background-color: rgb(255, 255, 255);
  width: 500px;
  margin: 50px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  color: rgb(53, 170, 203);
}
.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
}
.login-form .content {
  padding: 35px;
  text-align: center;
}
.login-form .input-field {
  padding: 12px 5px;
}
.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: "Rubik", sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.login-form .input-field input:focus {
  border-color: #222;
}
.login-form a.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  /* text-transform: uppercase; */
  display: inline-block;
  margin-top: 20px;
}
.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.login-form .action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.login-form .action button:hover {
  background: #439ad1;
  color: white;
  transition: ease-in 0.4s;
}
.login-form .action button:nth-child(2) {
  background: #25437a;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
  background: #2455b1;
}
.signup-btns i {
  margin-right: 10px;
}
.signup-btns {
  height: 42px;
  width: 420px;
  background-color: rgb(52, 150, 206);
  border: none;
  border-radius: 6px;
  transition: ease-in 0.3s;
  color: white;
}
.signup-btns:hover {
  background-color: rgb(24, 98, 141);
}
.ask-question-textarea {
  width: 410px;
}
label {
  margin-top: 0.8rem;
  font-family: "source sans pro";
  text-decoration: underline;
}
@media (max-width: 600px) {
  .login-form {
    width: 340px;
    font-size: 15px;
  }
  .login-form {
    font-size: 0.8rem;
  }
  .ask-question-textarea {
    width: 270px;
  }
  .signup-btns {
    width: 270px;
  }
  .query {
    width: 270px;
  }
}
